In [3]:
import folium

# !pip3 install folium

In [4]:
# https://python-visualization.github.io/folium/index.html

import folium

In [5]:
mapa=folium.Map(location=[19.41, -99.16], tiles='openstreetmap', zoom_start=12)

In [5]:
folium.CircleMarker([19.41, -99.16], radius=10, icon=folium.Icon()).add_to(mapa)

In [6]:
mapa

In [7]:
mapa2=folium.Map(lacation=[19.41, -99.16], tiles='stamentoner', zoom_start=12)

In [8]:
lat=[19.42, 19.4, 19.5, 19.45]
lng=[-99.18, -99.2, -99.1, -99.17]

In [11]:
for i in range(len(lat)):
    folium.Marker([lat[i], lng[i]], icon=folium.Icon(color='red')).add_to(mapa2)

In [12]:
mapa2

In [13]:
mapa2.save('mex.html')

In [14]:
from folium import plugins

In [15]:
mapa3 = folium.Map([19.42, -99.12], zoom_start=4)

In [16]:
mapa3.add_child(plugins.HeatMap([lat, lng], radius=15))

In [17]:
# mongoDB

In [18]:
!pip3 install pymongo

Requirement already satisfied: pymongo in /Users/data/Library/Python/3.7/lib/python/site-packages (3.9.0)

In [30]:
import pymongo

In [32]:
# crear base de datos

cliente=pymongo.MongoClient()

In [33]:
db=cliente.nueva_db

In [34]:
print (cliente.list_database_names())

['admin', 'companies', 'config', 'earthquake', 'geo_attack', 'local']

In [35]:
colec=db.n_colec

In [36]:
print (db.list_collection_names())

[]

In [37]:
n_dictio={'nombre':'Juan', 'edad':26}

In [38]:
colec.insert_one(n_dictio)

In [39]:
print (cliente.list_database_names())
print (db.list_collection_names())

['admin', 'companies', 'config', 'earthquake', 'geo_attack', 'local', 'nueva_db']
['n_colec']

In [40]:
colec.insert_many([{'nombre':'Ana', 'edad':28},
                   {'nombre':'Pedro', 'edad':30}])

In [44]:
colec.insert_many([{'_id':2, 'nombre':'Maria', 'edad':22},
                   {'_id':3,'nombre':'David', 'edad':34}])

In [42]:
# colec.insert_many(json)

In [46]:
# todos los elementos

list(colec.find())

[{'_id': ObjectId('5dcd953e82fcdd0bd00fd91f'), 'nombre': 'Juan', 'edad': 26},
 {'_id': ObjectId('5dcd95ea82fcdd0bd00fd920'), 'nombre': 'Ana', 'edad': 28},
 {'_id': ObjectId('5dcd95ea82fcdd0bd00fd921'), 'nombre': 'Pedro', 'edad': 30},
 {'_id': 0, 'nombre': 'Maria', 'edad': 22},
 {'_id': 1, 'nombre': 'David', 'edad': 34},
 {'_id': 2, 'nombre': 'Maria', 'edad': 22},
 {'_id': 3, 'nombre': 'David', 'edad': 34}]

In [47]:
list(colec.find().limit(2))

[{'_id': ObjectId('5dcd953e82fcdd0bd00fd91f'), 'nombre': 'Juan', 'edad': 26},
 {'_id': ObjectId('5dcd95ea82fcdd0bd00fd920'), 'nombre': 'Ana', 'edad': 28}]

In [48]:
# queries

list(colec.find({'edad':30}))

[{'_id': ObjectId('5dcd95ea82fcdd0bd00fd921'), 'nombre': 'Pedro', 'edad': 30}]

In [49]:
list(colec.find({'edad':{'$lt':30}}))

[{'_id': ObjectId('5dcd953e82fcdd0bd00fd91f'), 'nombre': 'Juan', 'edad': 26},
 {'_id': ObjectId('5dcd95ea82fcdd0bd00fd920'), 'nombre': 'Ana', 'edad': 28},
 {'_id': 0, 'nombre': 'Maria', 'edad': 22},
 {'_id': 2, 'nombre': 'Maria', 'edad': 22}]

In [50]:
list(colec.find({'edad':{'$lte':30}}))

[{'_id': ObjectId('5dcd953e82fcdd0bd00fd91f'), 'nombre': 'Juan', 'edad': 26},
 {'_id': ObjectId('5dcd95ea82fcdd0bd00fd920'), 'nombre': 'Ana', 'edad': 28},
 {'_id': ObjectId('5dcd95ea82fcdd0bd00fd921'), 'nombre': 'Pedro', 'edad': 30},
 {'_id': 0, 'nombre': 'Maria', 'edad': 22},
 {'_id': 2, 'nombre': 'Maria', 'edad': 22}]

In [51]:
list(colec.find({'edad':{'$gt':30}}))

[{'_id': 1, 'nombre': 'David', 'edad': 34},
 {'_id': 3, 'nombre': 'David', 'edad': 34}]

In [52]:
list(colec.find({'edad':{'$gte':30}}))

[{'_id': ObjectId('5dcd95ea82fcdd0bd00fd921'), 'nombre': 'Pedro', 'edad': 30},
 {'_id': 1, 'nombre': 'David', 'edad': 34},
 {'_id': 3, 'nombre': 'David', 'edad': 34}]

In [53]:
list(colec.find().sort('edad'))

[{'_id': 0, 'nombre': 'Maria', 'edad': 22},
 {'_id': 2, 'nombre': 'Maria', 'edad': 22},
 {'_id': ObjectId('5dcd953e82fcdd0bd00fd91f'), 'nombre': 'Juan', 'edad': 26},
 {'_id': ObjectId('5dcd95ea82fcdd0bd00fd920'), 'nombre': 'Ana', 'edad': 28},
 {'_id': ObjectId('5dcd95ea82fcdd0bd00fd921'), 'nombre': 'Pedro', 'edad': 30},
 {'_id': 1, 'nombre': 'David', 'edad': 34},
 {'_id': 3, 'nombre': 'David', 'edad': 34}]

In [54]:
# borrar

colec.delete_one({'_id': 1, 'nombre': 'David', 'edad': 34})

In [56]:
a=list(colec.find())

In [59]:
a.pop()
a

[{'_id': ObjectId('5dcd953e82fcdd0bd00fd91f'), 'nombre': 'Juan', 'edad': 26},
 {'_id': ObjectId('5dcd95ea82fcdd0bd00fd920'), 'nombre': 'Ana', 'edad': 28},
 {'_id': ObjectId('5dcd95ea82fcdd0bd00fd921'), 'nombre': 'Pedro', 'edad': 30},
 {'_id': 0, 'nombre': 'Maria', 'edad': 22}]

In [60]:
colec.update_one({'nombre':'Pedro'}, {'$set':{'nombre':'Lolo'}})
list(colec.find())

[{'_id': ObjectId('5dcd953e82fcdd0bd00fd91f'), 'nombre': 'Juan', 'edad': 26},
 {'_id': ObjectId('5dcd95ea82fcdd0bd00fd920'), 'nombre': 'Ana', 'edad': 28},
 {'_id': ObjectId('5dcd95ea82fcdd0bd00fd921'), 'nombre': 'Lolo', 'edad': 30},
 {'_id': 0, 'nombre': 'Maria', 'edad': 22},
 {'_id': 2, 'nombre': 'Maria', 'edad': 22},
 {'_id': 3, 'nombre': 'David', 'edad': 34}]

In [61]:
colec.insert_many([{'_id':6, 'nombre':'Pedro', 'edad':22},
                   {'_id':8,'nombre':'Pedro', 'edad':34}])
list(colec.find())

[{'_id': ObjectId('5dcd953e82fcdd0bd00fd91f'), 'nombre': 'Juan', 'edad': 26},
 {'_id': ObjectId('5dcd95ea82fcdd0bd00fd920'), 'nombre': 'Ana', 'edad': 28},
 {'_id': ObjectId('5dcd95ea82fcdd0bd00fd921'), 'nombre': 'Lolo', 'edad': 30},
 {'_id': 0, 'nombre': 'Maria', 'edad': 22},
 {'_id': 2, 'nombre': 'Maria', 'edad': 22},
 {'_id': 3, 'nombre': 'David', 'edad': 34},
 {'_id': 6, 'nombre': 'Pedro', 'edad': 22},
 {'_id': 8, 'nombre': 'Pedro', 'edad': 34}]

In [62]:
colec.update_one({'nombre':'Pedro'}, {'$set':{'nombre':'Lolo'}})
list(colec.find())

[{'_id': ObjectId('5dcd953e82fcdd0bd00fd91f'), 'nombre': 'Juan', 'edad': 26},
 {'_id': ObjectId('5dcd95ea82fcdd0bd00fd920'), 'nombre': 'Ana', 'edad': 28},
 {'_id': ObjectId('5dcd95ea82fcdd0bd00fd921'), 'nombre': 'Lolo', 'edad': 30},
 {'_id': 0, 'nombre': 'Maria', 'edad': 22},
 {'_id': 2, 'nombre': 'Maria', 'edad': 22},
 {'_id': 3, 'nombre': 'David', 'edad': 34},
 {'_id': 6, 'nombre': 'Lolo', 'edad': 22},
 {'_id': 8, 'nombre': 'Pedro', 'edad': 34}]

In [63]:
colec.insert_many([{'_id':10, 'nombre':'Pedro', 'edad':22},
                   {'_id':12,'nombre':'Pedro', 'edad':34}])

colec.update_many({'nombre':'Pedro'}, {'$set':{'nombre':'Lolo'}})
list(colec.find())

[{'_id': ObjectId('5dcd953e82fcdd0bd00fd91f'), 'nombre': 'Juan', 'edad': 26},
 {'_id': ObjectId('5dcd95ea82fcdd0bd00fd920'), 'nombre': 'Ana', 'edad': 28},
 {'_id': ObjectId('5dcd95ea82fcdd0bd00fd921'), 'nombre': 'Lolo', 'edad': 30},
 {'_id': 0, 'nombre': 'Maria', 'edad': 22},
 {'_id': 2, 'nombre': 'Maria', 'edad': 22},
 {'_id': 3, 'nombre': 'David', 'edad': 34},
 {'_id': 6, 'nombre': 'Lolo', 'edad': 22},
 {'_id': 8, 'nombre': 'Lolo', 'edad': 34},
 {'_id': 10, 'nombre': 'Lolo', 'edad': 22},
 {'_id': 12, 'nombre': 'Lolo', 'edad': 34}]

In [64]:
# geoqueries

cliente=pymongo.MongoClient('mongodb://localhost:27017/')

In [65]:
db=cliente.companies

In [66]:
al_menos_1_ofi=db.companies.find({'offices':{'$not':{'$size':0}}},
                                 {'name':1, 'offices':1, '_id':0})

In [67]:
import pandas as pd
df=pd.DataFrame(al_menos_1_ofi)
df.head()

        name                                            offices
0   Wetpaint  [{'description': '', 'address1': '710 - 2nd Av...
1  AdventNet  [{'description': 'Headquarters', 'address1': '...
2       Zoho  [{'description': 'Headquarters', 'address1': '...
3       Digg  [{'description': None, 'address1': '135 Missis...
4   Facebook  [{'description': 'Headquarters', 'address1': '...

In [106]:
df=df.dropna()

In [132]:
def get_first(data):
    res=[]
    ofi=[]
    
    data=data['offices']
    for e in data:
        principal=None   # solo las tienen geodata
        if e[0]['latitude'] and e[0]['longitude']:
            principal={'type':'Point',
                       'coordinates':[
                           e[0]['longitude'],
                           e[0]['latitude']
                       ]}
            
        ofi.append(principal)
        
        res.append({
            'total_offices':len(e),
            'lat':e[0]['latitude'],
            'lng':e[0]['longitude'],
            'oficina_principal':principal
        })
    
    return res, ofi

In [134]:
from pandas.io.json import json_normalize

first_office=json_normalize(get_first(df)[0])
first_office['oficina_principal']=get_first(df)[1]
first_office.head()

,total_offices,lat,lng,oficina_principal.type,oficina_principal.coordinates,oficina_principal
0,2,47.603122,-122.333253,Point,"[-122.333253, 47.603122]","{'type': 'Point', 'coordinates': [-122.333253,..."
1,1,37.692934,-121.904945,Point,"[-121.904945, 37.692934]","{'type': 'Point', 'coordinates': [-121.904945,..."
2,1,37.692934,-121.904945,Point,"[-121.904945, 37.692934]","{'type': 'Point', 'coordinates': [-121.904945,..."
3,1,37.764726,-122.394523,Point,"[-122.394523, 37.764726]","{'type': 'Point', 'coordinates': [-122.394523,..."
4,3,37.416050,-122.151801,Point,"[-122.151801, 37.41605]","{'type': 'Point', 'coordinates': [-122.151801,..."

In [135]:
df_clean=pd.concat([df, first_office], axis=1)[['name', 'lat', 'lng', 'oficina_principal', 'total_offices']]

In [136]:
df_clean=df_clean.dropna()
df_clean.head()

,name,lat,lng,oficina_principal,total_offices
0,Wetpaint,47.603122,-122.333253,"{'type': 'Point', 'coordinates': [-122.333253,...",2
1,AdventNet,37.692934,-121.904945,"{'type': 'Point', 'coordinates': [-121.904945,...",1
2,Zoho,37.692934,-121.904945,"{'type': 'Point', 'coordinates': [-121.904945,...",1
3,Digg,37.764726,-122.394523,"{'type': 'Point', 'coordinates': [-122.394523,...",1
4,Facebook,37.416050,-122.151801,"{'type': 'Point', 'coordinates': [-122.151801,...",3

In [139]:
# df_clean.to_json('./data/oficinas.json')

db.first_office.insert_many(df_clean.to_dict('records'))
list(db.first_office.find().limit(2))

[{'_id': ObjectId('5dcda2de82fcdd0bd00fd923'),
  'name': 'Wetpaint',
  'lat': 47.603122,
  'lng': -122.333253,
  'oficina_principal': {'type': 'Point',
   'coordinates': [-122.333253, 47.603122]},
  'total_offices': 2},
 {'_id': ObjectId('5dcda2de82fcdd0bd00fd924'),
  'name': 'AdventNet',
  'lat': 37.692934,
  'lng': -121.904945,
  'oficina_principal': {'type': 'Point',
   'coordinates': [-121.904945, 37.692934]},
  'total_offices': 1}]

In [138]:
# crear indice 2d

db.first_office.create_index([('oficina_principal', '2dsphere')])

'oficina_principal_2dsphere'

In [140]:
def find_near(geopoint, radio=1000):
    return db.first_office.find({
        'oficina_principal':{'$near':{'$geometry':geopoint,
                                     '$maxDistance':radio}
            
        }
    }
    )

In [141]:
park_avenue_con_21={'type':'Point', 'coordinates':[-73.987, 40.738]}
radio=10000

In [144]:
n_ofi=find_near(park_avenue_con_21, radio).count()

print ('Hay {} oficinas a {} metros'.format(n_ofi, radio))
print ('La mas cercana es {}'.format(list(find_near(park_avenue_con_21, radio).limit(1))[0]['name']))

Hay 1112 oficinas a 10000 metros
La mas cercana es [{'_id': ObjectId('5dcda2de82fcdd0bd00ff6d9'), 'name': 'SpaBooker', 'lat': 40.738567, 'lng': -73.987199, 'oficina_principal': {'type': 'Point', 'coordinates': [-73.987199, 40.738567]}, 'total_offices': 1}]

/usr/local/Cellar/ipython/7.8.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  """Entry point for launching an IPython kernel.

In [145]:
pd.DataFrame(list(find_near(park_avenue_con_21, radio))).to_csv('data_geo.csv')