In [1]:
import pandas as pd
import numpy as np

In [6]:
casas = pd.read_csv("C:/Users/Ramiro Antonio/Documents/ironhack_labs/statistical-analysis-project/train.csv")

In [9]:
casas.head(3)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500

# Pregunta.

¿Qué afecta el precio de la casa?

# Hipótesis

Variables seleccionadas

1) LoftArea
2) CentralAir
3) Yearbuilt
4) OverallQual
5) 2stFlrSF

Variable 1

Ho: Loft Area no afecta el precio de venta de la casa
H1:  Loft Area sí afecta el precio de venta de la casa

In [11]:
Variable 2. CentralAir

Ho: Central Air no afecta el precio de la casa
H1: Central Air sí afecta el precio de la casa

SyntaxError: invalid syntax (<ipython-input-11-31b5db0cf39e>, line 1)

In [22]:
Variable 2StFlSF

Ho: 2STSF sí afecta el precio de la casa
H1: 2STFT no afecta el precio de la casa

SyntaxError: invalid syntax (<ipython-input-22-4363e1a9251c>, line 1)

In [ ]:
casas.describe

# Estadística descriptiva

In [26]:
casas1 = casas[["LotArea", "CentralAir", "OverallQual", "YearBuilt","SalePrice"]]

In [29]:
#Describimos (pero sólo vienen los numéricos)
casas1.describe()

             LotArea  OverallQual    YearBuilt      SalePrice
count    1460.000000  1460.000000  1460.000000    1460.000000
mean    10516.828082     6.099315  1971.267808  180921.195890
std      9981.264932     1.382997    30.202904   79442.502883
min      1300.000000     1.000000  1872.000000   34900.000000
25%      7553.500000     5.000000  1954.000000  129975.000000
50%      9478.500000     6.000000  1973.000000  163000.000000
75%     11601.500000     7.000000  2000.000000  214000.000000
max    215245.000000    10.000000  2010.000000  755000.000000

In [32]:
#Checamos los null
casas1.isnull().sum()

LotArea        0
CentralAir     0
OverallQual    0
YearBuilt      0
SalePrice      0
dtype: int64

In [34]:
#Correlaciones
casas1.corr()

              LotArea  OverallQual  YearBuilt  SalePrice
LotArea      1.000000     0.105806   0.014228   0.263843
OverallQual  0.105806     1.000000   0.572323   0.790982
YearBuilt    0.014228     0.572323   1.000000   0.522897
SalePrice    0.263843     0.790982   0.522897   1.000000

In [38]:
casas1[["LotArea", "OverallQual", "YearBuilt"]].corr()

              LotArea  OverallQual  YearBuilt
LotArea      1.000000     0.105806   0.014228
OverallQual  0.105806     1.000000   0.572323
YearBuilt    0.014228     0.572323   1.000000

In [40]:
gapminder.gdpPercap.corr(gapminder.lifeExp, method="spearman")

NameError: name 'gapminder' is not defined

In [43]:
casas1.CentralAir.corr(casas1.SalePrice, method="spearman")

0.31328617148223004

In [46]:
casas1["Street"] = casas["Street"]

C:\Users\Ramiro Antonio\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [49]:
casas1.head()

   LotArea CentralAir  OverallQual  YearBuilt  SalePrice Street
0     8450          Y            7       2003     208500   Pave
1     9600          Y            6       1976     181500   Pave
2    11250          Y            7       2001     223500   Pave
3     9550          Y            7       1915     140000   Pave
4    14260          Y            8       2000     250000   Pave

In [51]:
casas1.CentralAir.corr(casas1.Street, method="spearman")

0.06986857817990931

In [52]:
#dado que ninguna correlación es mayor a 0.7, no descartamos ninguna variable-

# Gráficas

In [53]:
#TABLEAU

# MODELO

In [74]:
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [82]:
casas1["CentralAirCod"] = casas1.CentralAir.str.replace("Y","1").str.replace("N","0")
#pd.get_dummies(casas1.CentralAir)

C:\Users\Ramiro Antonio\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [86]:
casas1.head(3)

   LotArea CentralAir  OverallQual  YearBuilt  SalePrice Street CentralAirCod
0     8450          Y            7       2003     208500   Pave             1
1     9600          Y            6       1976     181500   Pave             1
2    11250          Y            7       2001     223500   Pave             1

In [95]:
casas1.dtypes
casas1["CentralAirCod"] = casas1.CentralAirCod.astype("int64", inplace = True)

C:\Users\Ramiro Antonio\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [97]:
casas1.dtypes
casas1.head(3)

   LotArea CentralAir  OverallQual  YearBuilt  SalePrice Street  CentralAirCod
0     8450          Y            7       2003     208500   Pave              1
1     9600          Y            6       1976     181500   Pave              1
2    11250          Y            7       2001     223500   Pave              1

In [102]:
x_casas = sm.add_constant(casas1[["LotArea", "OverallQual"**2, "YearBuilt"]])
y_casas = casas1["SalePrice"]

modelo1 = sm.OLS(y_casas, x_casas).fit()
predictions = modelo1.predict()

print_model = modelo1.summary()

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

In [101]:
print_model

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:              SalePrice   R-squared:                       0.668
Model:                            OLS   Adj. R-squared:                  0.667
Method:                 Least Squares   F-statistic:                     975.2
Date:                Thu, 09 Jan 2020   Prob (F-statistic):               0.00
Time:                        22:44:25   Log-Likelihood:                -17740.
No. Observations:                1460   AIC:                         3.549e+04
Df Residuals:                    1456   BIC:                         3.551e+04
Df Model:                           3
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
const       -6.898e+05   9.22e+04     -7.483      0.000   -8.71e+05   -5.09e+05
LotArea         1.4939      0.121     12.334      0.000       1.256       1.731
OverallQual  4.044e+04   1065.834     37.940      0.000    3.83e+04    4.25e+04
YearBuilt     308.6028     48.536      6.358      0.000     213.395     403.810
==============================================================================
Omnibus:                      642.441   Durbin-Watson:                   1.976
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             9109.854
Skew:                           1.664   Prob(JB):                         0.00
Kurtosis:                      14.776   Cond. No.                     1.12e+06
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.12e+06. This might indicate that there are
strong multicollinearity or other numerical problems.
"""